:root {
  --primary-color: #ff0500;
  --primary-color-mid: #ff9e9d;
  --medium-gray: #807f84;
  --light-gray: #03030366;
  --background: #f4f5f6;
}

/* Global Styling */
body {
  background-color: var(--background);
}

.container-custom {
  max-width: 1300px;
  margin: 0 auto;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
  color: white !important;
  font-weight: bold;
}

.background-color-override {
  background-color: var(--background) !important;
}

/* Override Card Styling */
.card {
  border: none;
  border-radius: 0;
  padding-bottom: 20px;
}

.card-img-container {
  position: relative;
  margin-bottom: 10px;
}

.card-img-container span {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(243, 243, 243);
  padding: 5px 12px;
}

.card-img-container span a {
  color: var(--primary-color) !important;
}

.card-img-container span a:hover {
  text-decoration: none !important;
}

.card-img-container a {
  color: var(--primary-color);
  font-weight: bold;
}

.card img {
  border-radius: 0;
}

.card-body {
  padding: 0;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.card-text {
  line-height: 1.25rem;
}

.card a {
  color: black;
}

.card a:hover {
  -webkit-text-decoration-color: var(--primary-color);
  text-decoration-color: var(--primary-color);
}

/* Navigation Bar */
nav {
  background-color: var(--primary-color);
}

.nav-top {
  height: 90px;
  overflow: hidden;
}

.logo {
  width: 480px;
  margin-bottom: -45px;
  outline: none;
}

.fa-user {
  color: rgb(255, 199, 199);
}

.subscribe {
  font-size: 0.9rem;
  background-color: #ffe400;
}

.menu-bar {
  background-color: unset;
  color: var(--primary-color-mid);
}

.menu-bar:focus {
  border: none;
}

/* Large Responsive Rules */
@media only screen and (max-width: 992px) {
  .nav-top {
    padding: 0 !important;
    margin: 0 !important;
    height: unset;
    align-items: center !important;
  }

  .logo {
    width: 170px;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .subscribe {
    font-size: 0.7rem;
  }
}

/* Bottom of Nav */
.nav-categories ul li {
  flex-grow: 1;
  display: flex;
}

.nav-categories ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-color: rgb(221, 221, 221);
  border-right-style: solid;
}

.searchbar {
  height: 30px;
  margin-right: 60px;
}

.searchbar input {
  width: 85px;
  outline: none;
  font-size: 17px;
  z-index: 10;
}

.searchbar input:focus {
  width: 91%;
  position: absolute;
  right: 8%;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.searchbar i {
  position: absolute;
  right: 8%;
  padding-left: 10px;
  background-color: white;
  z-index: 1000;
}

.nav-categories::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 15px;
}

.nav-categories::after {
  content: "";
  background-color: white;
  position: absolute;
  top: -3px;
  right: 6%;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}

/* Trending Topics */
.trending li {
  padding-right: 20px;
  font-weight: bold;
}

.trending li a {
  font-weight: bold;
  color: var(--medium-gray);
}

/* Main Content */

/* Primary Articles */

h2 {
  font-size: 16px;
  padding: 10px 0;
  color: var(--light-gray);
  font-weight: bold;
}

/* The Debate Section */
#debate-vs {
  width: 100%;
  height: 3px;
  border: 1px rgb(207, 207, 207) solid;
  margin: 25px 0;
  position: relative;
  text-align: center;
}

#debate-vs span {
  font-size: 14px;
  line-height: 16px;
  padding: 0.6rem;
  margin-left: -14px;
  border-radius: 50%;
  top: -16px;
  color: rgb(200, 200, 200);
  font-weight: bold;
  background-color: black;
  position: absolute;
  z-index: 100;
}

.aside-card {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 0;

  border-bottom: 1px rgb(209, 209, 209) solid;
}

.aside-card img {
  width: 60px;
  margin-right: 15px;
}

.aside-card .card-title {
  font-size: 16px;
}

.aside-card .card-text {
  font-size: 14px;
}

/* Sign Up Small Button */
.card-img-small h3 {
  font-size: 18px;
}

.card-img-small span {
  width: 41px;
}

/* Categories Section */
.category {
  padding-top: 25px;
}

.category h3 {
  color: var(--primary-color);
  font-size: 20px;
}

.card-img-lg {
  width: 90px !important;
}

/* In The Magazine Section */
.in-the-magazine h5 {
  color: black;
}

.in-the-magazine .card-body span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 5px;
}

.in-the-magazine .card-body span p {
  margin: 0;
  margin-right: 10px;
  background-color: var(--primary-color);
  padding: 2px 7px;
  color: white;
  font-weight: bold;
}

.in-the-magazine .card-body span a {
  color: var(--primary-color);
  font-weight: bold;
}

.in-the-magazine .card-body span a:hover {
  text-decoration: none;
}

/* Section Title with Small Logo */
h3 {
  font-size: 20px;
  font-weight: bold;
}

.newsweek-logo-small {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

/* Call To Action Banners */
.news-banner h3 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
}

/* Subscribe Section */
.subscribe-banner .card {
  background-color: var(--background) !important;
  padding: 20px;
}

.subscribe-banner .card-body {
  padding: 20px 0 0 0px;
}

.subscribe-img-stack {
  display: flex;
  position: relative;
  max-width: 80%;
}
.subscribe-img-stack img {
  width: unset;
  max-height: 200px;
}

.subscribe-img-stack img:nth-child(2) {
  position: absolute;
  margin: 15px 0 0 80px;
}

/* Newsletter Card */

.newsletter-card .card-body {
  padding: 25px;
}

.newsletter-card .img {
  background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5");
  background-position: center;
  background-size: cover;
}

.newsletter-card input,
.newsletter-card a {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .fa-2x {
    font-size: 1.4em !important;
    padding-top: 5px;
  }

  .subscribe-img-stack {
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
  }

  .subscribe-banner > div > div {
    display: flex;
    flex-flow: column nowrap;
  }
}
